<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>XpressBook</title>
  <link rel="shortcut icon" href="/icon.jpg">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-social.css">
  <link rel="stylesheet" href="/css/styles.css">
<!-- googlefonts -->
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&family=Merienda+One&display=swap" rel="stylesheet">

  <nav  class="navbar navbar-inverse" style="background-image:linear-gradient(to right,#097770,#079997,#097770)" >
    <div  class="container">
      <div class="navbar-header col-lg-11 col-md-10 col-sm-11">
        <p onclick="window.location.href='/'" class="navbar-brand"><i id="writing" class="fas fa-signature fa-2x"></i><i id="featherlogo" class="fas fa-feather-alt fa-2x"></i><span>X</span>pressBook</p>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
        <a id="toggleSlide" class="icons menubutton headerMenu" ><img class="navbar-icons menu"
          src="/icons/open-menu.png"></a>
      </div>

  </nav>
  </div>

  <body>
    <div  id="slidebox" class="box ">
    <ul  class="nav navbar-nav boxLinks">
    <li><a href="/contact">CONTACT US</a></li><br>
    <li><a  href="/user/LogIn" ><span class="glyphicon glyphicon-log-in"></span>LOG IN</a></li><br>
    <li><a href="/signup"><span class="glyphicon glyphicon-user"></span>SIGN UP</a></li>
    </ul>
    </div>
    <div class="container">
