<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ExpressBook</title>
  <link rel="shortcut icon" href="/icon.jpg">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<!-- googlefonts -->
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&family=Merienda+One&display=swap" rel="stylesheet">

  <nav  class="navbar navbar-inverse" style="background-image:linear-gradient(to right,#097770,#079997,#097770)" >
    <div  class="container">
      <div class="navbar-header col-xl-11 col-md-11 col-sm-10 col-lg-11" >
        <p onclick="window.location.href='/'" class="navbar-brand"><i id="writing" class="fas fa-signature fa-2x"></i><i id="featherlogo" class="fas fa-feather-alt fa-2x"></i><span>X</span>pressBook</p>
      </div>
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-0.5 col-xs-1">
        <a id="toggleSlide" class="icons menubutton" ><img class="navbar-icons menu"
          src="/icons/open-menu.png"></a>
      </div>

  </nav>
  <link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/bootstrap-social.css">
<link rel="stylesheet" href="/css/style-userProfile.css">
</head>
  <body>
    <div  id="slidebox" class="box ">
    <ul  class="nav navbar-nav boxLinks">
    <li><a  href="/contact">CONTACT US</a></li><br>
    <li><a  style="cursor: pointer" onclick="goBack()" name="button"> GO BACK</a></li><br>

    </ul>
    </div>
    <div class="container">
<div class="col-lg-12 contactme">


<div class="desc">
<hr>
   <p class="message">  Always happy to hear from you.
     If you have any suggestion  then please mail me at <br>
   <a href="#">ritikpal098@gmail.com</a><br>
or <br>
you can find me on these
 </p>


<div class="socialmediaicons">
<a href="https://www.instagram.com/iamritikpal/" class="instagram" type="button" name="button"><i class="fab fa-instagram fa-2x"></i></a>
<a href="https://www.linkedin.com/in/ritik-pal-1a8255168/" class="instagram" type="button" name="button"><i class="fab fa-linkedin fa-2x"></i></a>
<a href="https://www.facebook.com/ritik.pal.3139/" class="instagram" type="button" name="button"><i class="fab fa-facebook-square fa-2x"></i></a>
</div>
</div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/scripts/script.js" charset="utf-8"></script>
</body>

</html>
